name: Build OpenWrt

on:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'Enable SSH'
        required: false
        default: 'false'
  schedule:
    - cron: '0 0 1 * *'

env:
  REPO_URL: https://github.com/openwrt/openwrt
  REPO_NAME: openwrt
  WORKDIR: /mnt/openwrt
  CCACHE_DIR: /mnt/ccache_openwrt
  CCACHE_MAXSIZE: 10G
  SSH_ENABLE: ${{ github.event.inputs.ssh || 'false' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Prepare system
        run: |
          sudo apt update
          sudo apt install -y build-essential clang flex bison g++ gawk \
            gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev \
            python3 python3-pip rsync unzip zlib1g-dev file wget

      - name: Prepare workspace
        run: |
          sudo mkdir -p /mnt
          sudo chown $USER:$USER /mnt

      - name: Clone source
        run: |
          git clone --depth=1 $REPO_URL $WORKDIR

      - name: Run first script
        run: |
          cd $WORKDIR
          FILE=$(ls $GITHUB_WORKSPACE/openwrt*.sh | sed -n '1p')
          chmod +x "$FILE"
          "$FILE"

      - name: Copy config
        run: |
          cp $GITHUB_WORKSPACE/openwrt.config $WORKDIR/.config

      - name: Feeds update
        run: |
          cd $WORKDIR
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Run second script
        run: |
          cd $WORKDIR
          FILE=$(ls $GITHUB_WORKSPACE/openwrt*.sh | sed -n '2p')
          chmod +x "$FILE"
          "$FILE"

      - name: Prepare config
        run: |
          cd $WORKDIR
          make clean
          make defconfig
          chmod +x $GITHUB_WORKSPACE/check-defconfig.sh
          bash $GITHUB_WORKSPACE/check-defconfig.sh

      - name: Compile
        run: |
          cd $WORKDIR
          export PATH="/usr/lib/ccache:$PATH"
          export CCACHE_DIR=$CCACHE_DIR
          ccache -M $CCACHE_MAXSIZE
          make -j$(nproc) || make -j1 V=s

      - name: Zip BIN
        working-directory: /mnt/openwrt/openwrt
        run: |
          zip -r /mnt/openwrt/openwrt_bin.zip bin

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: openwrt_bin
          path: /mnt/openwrt/openwrt_bin.zip

      - name: Create tag
        run: |
          TAG=$(date +"openwrt-%Y%m%d-%H%M")
          git tag -f "$TAG"
          git push -f  "$TAG"
          echo "TAG_NAME=$TAG" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          files: $WORKDIR/openwrt_bin.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
