name: Build-ImmortalWrt

on:
  schedule:
    - cron: '0 0 2 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    env:
      WORKDIR: /mnt/immortalwrt
      REPO_URL: https://github.com/immortalwrt/immortalwrt
      REPO_NAME: immortalwrt
      SSH_ENABLE: false
      CCACHE_DIR: /mnt/ccache_immortal
      CCACHE_MAXSIZE: 10G

    steps:
    - uses: actions/checkout@v4

    - name: Prepare
      run: |
        sudo mkdir -p $WORKDIR $CCACHE_DIR
        sudo chown -R $USER:$USER /mnt
        df -h

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib \
        gettext git libssl-dev python3 python3-pip python3-venv rsync unzip zlib1g-dev \
        file wget ccache

    - name: Enable ccache
      run: |
        echo 'export CC="ccache gcc"' >> ~/.bashrc
        echo 'export CXX="ccache g++"' >> ~/.bashrc
        echo 'export CCACHE_DIR=$CCACHE_DIR' >> ~/.bashrc
        source ~/.bashrc
        ccache -M $CCACHE_MAXSIZE
        ccache -s

    - name: Restore cache
      uses: actions/cache@v4
      with:
        path: /mnt/ccache_immortal
        key: ccache-immortal-${{ github.ref }}
        restore-keys: |
          ccache-immortal-

    - name: Clone Source
      working-directory: /mnt
      run: |
        git clone $REPO_URL $REPO_NAME

    - name: SSH (optional)
      if: env.SSH_ENABLE == 'true'
      uses: mxschmitt/action-tmate@v3

    - name: Run first custom script
      working-directory: /mnt/immortalwrt
      run: |
        set +e
        FILE=$(ls -1 $GITHUB_WORKSPACE/immortalwrt*.sh | sed -n '1p' || true)
        if [ -f "$FILE" ]; then
          echo "Running first script: $FILE"
          chmod +x "$FILE"
          "$FILE" || true
        else
          echo "No first immortalwrt*.sh found"
        fi

    - name: Put .config
      run: |
        [ -f "immortalwrt.config" ] && cp immortalwrt.config /mnt/immortalwrt/.config

    - name: Feeds
      working-directory: /mnt/immortalwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Run second custom script
      working-directory: /mnt/immortalwrt
      run: |
        set +e
        FILE=$(ls -1 $GITHUB_WORKSPACE/immortalwrt*.sh | sed -n '2p' || true)
        if [ -f "$FILE" ]; then
          echo "Running second script: $FILE"
          chmod +x "$FILE"
          "$FILE" || true
        else
          echo "No second immortalwrt*.sh found"
        fi

    - name: Build
      working-directory: /mnt/immortalwrt
      run: |
        make defconfig
        make -j$(nproc) || make -j1 V=s
        ccache -s

    - name: Pack
      working-directory: /mnt/immortalwrt
      run: |
        cd bin
        zip -r ../immortalwrt_bin.zip .

    - name: Artifact
      uses: actions/upload-artifact@v4
      with:
        name: immortalwrt_bin
        path: /mnt/immortalwrt/immortalwrt_bin.zip
    - name: Create Tag
      run: |
        TAG_NAME=openwrt-$(date +"%Y%m%d-%H%M")
        echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
        git tag -f "$TAG_NAME"
        git push -f origin "$TAG_NAME"


    - name: Release Upload
      uses: softprops/action-gh-release@v2
      with:
        files: /mnt/openwrt/openwrt_bin.zip
        tag_name: ${{ env.TAG_NAME }}
        name: "ImmortalWrt Auto Build ${{ env.TAG_NAME }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
